header {
  /* height: 100vh; */
  padding-top: 7rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ========= CTA ======== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========= HEADER SOCAILS ======== */

.header__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 1rem 0 0;
  font-size: 2rem;
}

/* ========= ME ======== */

.header__container-image {
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.header__image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.header__image:hover {
  transform: rotate(0);
}

/* ========= SCROLL DOWN ======== */

.down-arrow-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.down-arrow-container a {
  font-size: 2rem;
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
  .header__container-image {
    width: 300px;
    height: 300px;
  }
}

/* ======== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
  /* header {
    height: 100vh;
  } */

  .header__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header__container-image {
    width: 250px;
    height: 250px;
  }
}
